<div class="flex vcentered">
    <div class="flex card column centered gap-1-5">
        <span class="bold">Login</span>

        <%- renderUtils.textField('email', 'Email') %>
        <%- renderUtils.textField('passwd', 'Password') %>

        <input type="submit" value="Login">
        <a class="white bold no-decorations" href="/create_account">No account, create one.</a>
    </div>
</div>